body {
    background-color: #5f605d;
    font-family: 'Roboto', sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #21201f;
    height: 50px;
}

#navbar {
    list-style-type: none;
    padding-right: 10px; 
    margin-top: auto; 
    margin-bottom: auto;
}

#navbar li {
    display: inline;
}

#homeNav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#band-membersNav, #scheduleNav, #homeNav, #albumsNav {
    background-color: #727271;
    border: 2px #727271 outset;
    border-radius: 4px;
}

#events {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    background-image: url(https://img.apmcdn.org/cc4fb0e9f3b4cc9793551872029ef3fcb76c40a6/uncropped/1b74f0-20170201-rockin-1000.jpg);
    background-size: 100% 100%;
}

.eventsDiv {
    display: flex;
    flex-flow: column wrap;
    line-height: 0.3;
    width: 33.33%;
}

#eventsHeader {
    text-align: center;
    background-color: #ef6817;
    margin: auto;
    width: 320px;
    border: 2px black solid;
    border-radius: 3px;
}

.jsEventsDiv1 {
    background-color: #ef6817;
    border: 1px black solid;
    padding-left: 5px;
    opacity: 0.7;
}

.jsEventsDiv2 {
    background-color: #727271;
    border: 1px black solid;
    padding-left: 5px;
    opacity: 0.7;
}

.jsEventsDiv3 {
    background-color: #383838;
    border: 1px black solid;
    padding-left: 5px;
    opacity: 0.85;
}

.jsEventsMonth {
    text-align: center;
    opacity: 1;
    background-color: #21201f;
    color: wheat;
    height: 80px;
    margin: 0;
    line-height: 3;
}

#dates {
    display: flex;
    flex-flow: row wrap;
    margin-left: 4.5%
}

.dateClass {
    width: 13%;
    border: 1px black solid;
    height: 150px;
    line-height: 0.3;
    padding-left: 5px;
    background-color: #383838;
}

#calendarMenu {
    margin-left: 4.5%;
    margin-top: 30px;
    width: 100px;
}

#select {
    width: 195px;
    font-size: 150%;
    background-color: #ef6817;
}