nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #21201f;
    height: 50px;
    z-index: 5000;
}

#navbar {
    list-style-type: none;
    padding-right: 10px; 
    margin-top: auto; 
    margin-bottom: auto;
}

#navbar li {
    display: inline;
    color: white;
}

#homeNav {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}

#band-membersNav, #scheduleNav, #homeNav, #albumsNav {
    background-color: #21201f;
    border: 2px #21201f outset;
    border-radius: 4px;
    color: white;
  
body {
    background-color: #5f605d;
    margin: 0px;
    padding: 0px;
}
/* FOOTER STYLING */
#footer {
    text-align: center;
    position: fixed;
    bottom: 0px;
    width: 100%;
    color: white;
    background-color: #21201f;
    padding: 8px 0px 0px 0px;
}

#footer-icons p {
    margin: 5px 0px 5px 0px;
    font-size: 20px;
}
#footer-icons img {
    height: 20px;
    /* padding: 5px; */
    margin: 6px 8px 8px 8px;
}

#footer-copyright {
    font-size: 14px;
}